<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flight Details</title>
</head>
<body>
    <h2>Flight Details</h2>

    <br>
      <tr>
          <br>
          <td>Airline: <%= flight.airline %></td><br>
          <td>Airport: <%= flight.airport %></td><br>
          <td>Flight Number: <%= flight.flightNo %></td><br>
          <td>Departs: <%= flight.departs %></td><br>
      </tr>
</body>
</html>